/* ===============================
        TABLET
================================= */

@media (max-width:992px) {

    .container {
        width: 92%;
    }

    .hero-container,
    .contact-wrapper {
        grid-template-columns: 1fr;
        display: grid;
        gap: 40px;
    }

    .services-grid,
    .features-grid,
    .process-grid,
    .pricing-grid,
    .stats-grid,
    .portfolio-grid,
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-content {
        text-align: center;
    }

    .hero-buttons,
    .hero-stats {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image img {
        max-width: 500px;
    }

    .section-title h2 {
        font-size: 36px;
    }

    .hero-content h1 {
        font-size: 46px;
    }

}


/* ===========================
   MOBILE RESPONSIVE
=========================== */

@media (max-width:768px) {

    .hero {
        padding: 110px 0 70px;
    }

    .hero-container {
        flex-direction: column-reverse;
        gap: 40px;
        text-align: center;
    }

    .hero-content,
    .hero-image {
        width: 100%;
        flex: unset;
    }

    .hero-content h1 {
        font-size: 42px;
        line-height: 1.2;
    }

    .hero-content p {
        font-size: 17px;
        margin: auto auto 30px;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image img {
        width: 100%;
        max-width: 420px;
        margin: auto;
    }

}

@media(max-width:768px) {

    .navbar {
        min-height: 75px;
    }

    .nav-links {
        display: none;
    }

    .navbar>.btn-primary {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

}

/* ===============================
      SMALL MOBILE
================================= */

@media (max-width:480px) {

    .hero-content h1 {
        font-size: 28px;
    }

    .section-title h2 {
        font-size: 26px;
    }

    .hero-stats {
        gap: 25px;
    }

    .logo span {
        font-size: 20px;
    }

    .logo-img {
        width: 38px;
        height: 38px;
    }

}